<footer class="site-footer">

  <div class="wrapper">

    <h2 align="Center">Contact</h2>

    <div class="footer-col-wrapper">
      <div align="Center">
        
          <span style="display:inline-block; width: 15px;"></span>
            <img src="/imgs/email.png"/>
            <a href="mailto:{{ site.email }}">Email</a></li>
          <span style="display:inline-block; width: 5px;"></span>

          
            <img src="/imgs/github.png"/>
            <a href="https://github.com/Rohithpesala">Github</a>
          <span style="display:inline-block; width: 5px;"></span>

          
            <img src="/imgs/linkedin.png"/>
            <a href="https://www.linkedin.com/in/rpesala/">Linkedin</a>
          <span style="display:inline-block; width: 5px;"></span>
          
          
            <img src="/imgs/facebook.png"/>
            <a href="https://www.facebook.com/pesala.rohith">Facebook</a>
          <span style="display:inline-block; width: 5px;"></span>

          
            <img src="/imgs/twitter.png"/>
            <a href="https://twitter.com/RohithPesala">Twitter</a>
          
          <span style="display:inline-block; width: 5px;"></span>
          
            <img src="/imgs/instagram.png"/>
            <a href="https://www.instagram.com/rpesala/">Instagram</a>
          
        
      </div>

      
        
    </div>

  </div>

</footer>
